.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    backdrop-filter: blur(2px);
    
}
.border{
    height: 44rem;
    width: 30rem;
    position: fixed;
    inset: 0;
    margin: auto;
    background-color: rgb(228, 226, 212);
    border-radius: 17px;
}

.container{
    height: 43rem;
    width: 29rem;
    position: fixed;
    inset: 0;
    margin: auto;
    background-color: rgba(116, 114, 102, 0.904);
    border-radius: 19px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    color: white;
    

    img{
        width: 130%;
        height: 70%;
    }
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.botao{
    padding: 5px;
    height: 40px; 
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(241, 238, 202);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    

}
.botao:hover{
    background-color: rgb(241, 241, 206);

}

footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    
    button{
        font-size: large;
    }
}