
<div class="modal" (click)="clicked()">
    <div class="border">
        
        <div class="container">
            <header>
                {{value?.id}} - 
                <h1>{{value?.name}}</h1> 
            </header>
           

            <p>{{value?.restaurant}}</p>
            
            <p>R$ {{value?.price}}</p>
            
            <img [src]="value?.image" alt="imagem">

            <footer>
                <Button (click)="clicked()" class="botao">Adicionar ao carrinho</Button>
            </footer>
        </div>
    </div>

</div>
