<div class="container">
    
    <h1>Comida-page works!</h1>
    <div class="cards">
    
        <div class="_COMIDA" *ngFor="let data of Foods; track: $index">
            <card-comida 
                [value]="data"
                (Click)="abrir(data)"
               
                >
            </card-comida>
        </div>
        
        
        
    </div>
    <modal-comida 
        *ngIf="focusedFood"
        [value]="focusedFood"
        (Click)="focusedFood = undefined"
        >
    </modal-comida>
        
</div>