<div class="container">

    <header>
        <img src="https://png.pngtree.com/background/20250108/original/pngtree-fast-food-delights-a-seamless-texture-inspired-by-quick-bites-picture-image_15231809.jpg" width="100%" >
    </header>
    
    <div class="cards">
        
        <div class="_COMIDA" *ngFor="let data of Foods; track: $index">
            <card-comida 
                [value]="data"
                (Click)="abrir(data)"
               
                >
            </card-comida>
        </div>
        
        
        
    </div>
    <modal-comida 
        *ngIf="focusedFood"
        [value]="focusedFood"
        (Click)="focusedFood = undefined"
        >
    </modal-comida>
        
</div>