button{
    background-color: cadetblue;
    width: 20rem;
    height: 3rem;
    border: solid rgb(11, 9, 49) 1px;
    cursor: pointer;
    padding: 0 1.5rem;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: medium;
    font-family: 'Segoe UI';
}

:hover{
    background-color: rgb(60, 102, 104);
    
}